body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url('assets/images/help/GreenBackground.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
    direction: rtl;
    font-family: Assistant;
}

@font-face {
    font-family:Assistant;
    src: url(assets/fonts/assistant/Assistant-VariableFont_wght.ttf);
}

#chooseCategory{
    display: block;
}

#divcategory1{
  display: none;
}

#divcategory2{
  display: none;
}

#divcategory3{
  display: none;
}

#divcategory4{
  display: none;
}

#divcategory5{
  display: none;
}

#divcircle1{
     display: none;
}


#divcircle2{
     display: none;
}


#divcircle3{
     display: none;
}


#divcircle4{
     display: none;
}
#pkarIcon{
    position: absolute;
    width: 12vw;
    height: 12vh;
    top: 4vh;
}


#homeIcon{
    position: absolute;
    width: 12vw;
    height: 12vh;
    top: 83vh;
    right: 88vw;
   z-index: 300;
}

#homeIcon:hover{
  cursor: pointer;
}


#homeIcon:hover{
   cursor: pointer;
}


#navbar{
    position: absolute;
    width: 15vw;
    height: 9vh;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #ffb33c;
    top: 3.5vh;
    right: 85vw;
}
.icons{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 12vw;
    top: 5vh;
    padding-right: 1vh;
    right: 85vw;
    z-index: 300;
}

.icon{
    width:6vw;
    height: 6vh;
}

.icon:hover{
    opacity: 80%;
    cursor: pointer;
}

#categories{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    width: 70vw;
    height: 40vh;
    position: absolute;
    top: 23vh;
    right: 15vw;
 
}

.category{
    position: relative;
    width: 35vh;
    height:19vh;
    filter: drop-shadow(5px 5px  #8c8c8c7a);
    transition: all .5s;
    left: 0;
    cursor: pointer;
    margin: 0.8vw;
}

.category:hover{
    left: 5px;
    filter: drop-shadow(0px 0px  #8c8c8c);
}

.categoryTitle{
    width: 95vw;
    position: absolute;
    font-weight: 900;
    color: #052554;
    font-size: 4vmax;
    text-align: center;
    top: 5vh;
    right: -2.5vw;
}

.titleIcon{
    position: relative;
    width: 10vw;
    height: 10vh;
    top: 2vh;
    right: 2vw;
}

.solider{
    display: block;
    position: absolute;
    width:100vw;
    height: 100vh;
    top: 32vh;
    left: 37vw;
}

#circle-container1{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    width: 80vw;
    position: relative;
    right: 10vw;
    top: 30vh;
}

#circle-container2{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    width: 90vw;
    height: 40vh;
    position: absolute;
    top: 32vh;
    right: 5vw;
}
.circle{
    position: relative;
    width: 25vh;
    height:29vh;
    filter: drop-shadow(6px 6px #112c59);
    transition: all .5s;
    left: 0;
    cursor: pointer;
    margin: 0.8vw;
}

.circle:hover{
    left: 6px;
    filter: drop-shadow(0px 0px  #112c59);
}

.button{
    font-weight: 700;
    color: white;
    background-color: #052554;
    box-shadow: 3px 3px #8c8c8c;
    cursor: pointer;
    transition: all .5s;
    left: 0;
}

.button:hover{
     background-color: #b5b5b5;
      box-shadow: 0px 0px #8c8c8c;
}

.backbutton{
    position: absolute;
    width: 7vw;
    height: 8vh;
    border-radius: 40px;
    text-align: center;
    padding: 1vh;
    padding-top: 1.5vh;
    font-size: 2.4vmax;
    top: 83vh;
    right: 5vw;
}

#GetalartExplenation{
    position: relative;
    display: block;
    width: 100vw;
    height: 60vh;
    right: 0vw;
    top: 25vh;

}

#category1-page {
    display: none;
}

#category2-page {
    display: none;
}

#category3-page {
    display: none;
}

#category4-page {
    display: none;
}

#category5-page {
    display: none;
}

#back-button {
    display: none;
}

.white-div {
    width: 70vw;
    height: 35vh;
    background-color: rgb(255, 255, 255);
    border-radius: 2vh;
    position: absolute;
    top: 52vh;
    left: 15vw;
}

.white-div1 {
    width: 70vw;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    border-radius: 2vh;
    position: absolute;
    top: 22vh;
    left: 15vw;
}


.white-div-num {
    position: relative;
    background-color: #052554;
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    text-align: center;
    color: white;
    font-weight: 700;
    right: 3vw;
    font-size: 3vmax;
}

.move-pages-white-div {
    width: 90%;
    position: absolute;
    right: 5%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    top: 24vh;    
}

.move-pages-white-div-important {
    width: 90%;
    position: absolute;
    right: 5%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    top: 24vh;    
}

.arrow-move {
    height: 6vh;
    cursor: pointer;
}




#circle1-page{
     display: none; 
}

#circle2-page{
     display: none;
}

#circle3-page{
     display: none; 
}

#circle4-page{
     display: none; 
}

#page-move-color-safe {
    color: #8c8c8c;
   font-size: 2vmax;
}

#page-move-color-safe b {
    color: #052554;
}

#page-move-color-neighbors {
    color: #8c8c8c;
   font-size: 2vmax;
}

#page-move-color-neighbors b {
    color: #052554;
}

.page-move-color {
    color: #8c8c8c;
   font-size: 2vmax;
}

.page-move-color b {
    color: #052554;
}


#white-div-text1-safe{
    position: relative;
    font-size: 3.6vmin;
    font-weight: 400;
    width: 55vw;
    text-align: center;
    right:9vw;
    top: -15vh;
    color: #052554;
}

#white-div-text1-neighbors{
    position: relative;
    font-size: 3.6vmin;
    font-weight: 400;
    width: 55vw;
    text-align: center;
    right:9vw;
    top: -15vh;
    color: #052554;
}

#white-div-text1-agriculture{
    position: relative;
    font-size: 3.6vmin;
    font-weight: 400;
    width: 55vw;
    text-align: center;
    right:9vw;
    top: -15vh;
    color: #052554;
}

#white-div-text1-help{
    position: relative;
    font-size: 3.6vmin;
    font-weight: 400;
    width: 55vw;
    text-align: center;
    right:9vw;
    top: -5vh;
    color: #052554;
}

#back-arrow{
    opacity: 0;
}

.categoryTitle{
    width: 95vw;
    position: absolute;
    font-weight: 900;
    color: #052554;
    font-size: 4vmax;
    text-align: center;
    top: 5vh;
    right: -2vw;
}

.circleTitle{
    width: 100vw;
    position: absolute;
    font-weight: 900;
    color: #052554;
    font-size: 4.5vmax;
    text-align: center;
    top: 5vh;
}

.circle-explenation-text{
    position: absolute;
    font-size: 2.1vmax;
    width: 70vw;
    color: #052554;
    text-align: center;
    right: 15vw;
    top: 19vh;
}


.titleIcon{
    position: relative;
    width: 10vw;
    height: 10vh;
    top: 2vh;
    right: 2vw;
}

.explenation-text{
    position: absolute;
    font-size: 1.9vmax;
    width: 80vw;
    color: #052554;
    text-align: center;
    right: 10vw;
    top: 19vh;
}

.explenation-text-bold{
    position: absolute;
    font-size:1.9vmax;
    width: 80vw;
    color: #052554;
    text-align: center;
    right: 10vw;
    top: 39vh;
    font-weight: 700;
}

#text1{
    position: absolute;
    font-size: 2vmax;
    width: 65vw;
    color: #052554;
    right: 2vw;
}

#text2{
    position: absolute;
    font-size: 2.1vmax;
    width: 65vw;
    color: #052554;
    right: 2vw;
}

#text1-bold{
    position: absolute;
    font-size: 2vmax;
    width: 65vw;
    color: #052554;
    right: 2vw;
    top: 40vh;
    font-weight: 700;
}

#explenation-text-neighbors1{
    font-size: 1.7vmax;
}

#explenation-text-neighbors2{
    font-size: 1.7vmax;
    top: 52vh;
    text-align: right;
} 
#explenation-text-bold-neighbors{
    text-align: right;
    font-size: 1.7vmax;
    top: 35vh;
}

#white-div-neighbors{
    width: 65vw;
    height: 28vh;
    top: 66vh;
    right: 17.5VW;
}

#white-div-agriculture{
    width: 65vw;
    height: 28vh;
    top: 40vh;
    right: 16VW;
}

#white-div-help{
    width: 65vw;
    height: 28vh;
    top: 40vh;
    right: 16VW;
}

#movePages-neighbors{
    top: 18vh;
}

#movePages-agriculture{
    top: 18vh;
}


#circle5-explenation{
    position: absolute;
    display: none;
    z-index: 999;
}

#circle6-explenation{
    position: absolute;
    display: none;
    z-index: 999;
}

#circle7-explenation{
    position: absolute;
    display: none;
    z-index: 999;
}

.explenation-volunteer{
    position: absolute;
    width: 75vw;
    height: 85vh;
    top:7vh;
    right: 12.5vw;
    background-color: #ffffff;
    border-radius: 0.5vw;
    box-shadow: 5px 5px rgb(207, 207, 207);
}

.explenation-volunteer-text{
   position: absolute;
    width: 70vw;
    right: 2.5vw;
    font-size: 1.5vmax;
    color: #052554;
    font-weight: 500;
    top: 6vh;
}


.explenation-volunteer-title{
   position: absolute;
    width: 75vw;
    text-align: center;
    font-size: 2.5vmax;
    color: #052554;
    font-weight: 700;
    top: 2vh;
}

#link-volunteer{
    position: absolute;
    font-size: 1.3vmax;
    color: #052554;
    font-weight: 500;
    top: 72vh;
    right: 2.5vw;
    font-weight: 700;
     text-decoration: underline;
}

.beckgroundExplenation{
    width:100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.212);
}

.close-button{
    font-weight: 700;
    color: white;
    background-color: #052554;
    cursor: pointer;
    transition: all .5s;
    left: 0;
    width: 5.5vw;
    border-radius: 3vw;
    z-index:2000;
    text-align: center;
    font-size: 1.7vmax;
    height: 5vh;
    position: absolute;
    right: 35VW;
    top: 75vh;
}

.close-button:hover{
    background-color: #b5b5b5;
}

#close-button2{
    top: 75vh;
    right: 66vw;
}

.chap1-info {
    width: 60vw;
    position: absolute;
    right: 20vw;
    border-radius: 2vw;
    font-size: 1.8vmax;
    top: 23%;
    overflow-y: hidden;
    height: 60vh;
    overflow-y: auto;
}

.call-title {
    height: 9vh;
    color: #2f3043;
    padding-right: 2vw;
}

.spec-call {
    padding-top: 8vh;
    padding-bottom: 0vh;
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 2px #c3c9d0;
    border-radius: 2vh;
    transition: all .5s;
    background-color: #ffffff;
}

.name-info {
    padding-bottom: 3vh;
    position: relative;
    bottom: 3vh;
    padding-right: 2vw;
     padding-bottom: 1vw;
    font-size: 2vmax;
    font-family: Assistant;
    font-weight: 700;
    color: #052554;
    
}

.spec-call:hover {
    background-color:#ffe4b7ff;
    cursor: pointer;
    
}

.title-chap1-info {
    color: #396c84;
    font-family: "aharoni";
    font-weight: bold;
    font-size: 1.4vmax;
    position: relative;
}

.info-div {
    /* white-space: nowrap;  */
    overflow: hidden;
    text-overflow: clip;
    margin-top: 1vh;
    border-top: solid 0px #ffffff;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    overflow-wrap: break-word;
}

.info-div p {
    position: relative;
    right: 2%;
    bottom: 10%;
}

.info-text2 {
    position: relative;
    margin: 0;
    transform: translateY(-1vh);
    font-size: 1.6vmax;
}

.info-text1 {
    margin-top: 1vh;
    font-size: 1.8vmax;
    width: 90%;
    margin-right: 1vw;
    font-weight: 450;
    color: #052554;
}

.info-div {
    height: 0;
    transition: all .4s;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

.first-call {
    border-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    margin: 0.5vw;
} 

.down-arrow {
    position: absolute;
    width: 2vw;
    margin-top: -1.5vh;
    left: 2vw;
    transition: all .4s;
}

.long-info {
    overflow-y: scroll;
    direction: ltr;
    top: 10%;
}

.long-info p {
    direction: rtl;
    left: 5%;
}

#info-text1{
    margin-top: 8vh;
}

#info-text6{
    margin-top: 8vh;
}

.bigger-text{
    font-size: 1.9vmax;
    font-weight:400;
}


@media screen and (max-width: 450px){
    body{
        width: 100vw;
        height: 100vh;
        margin: 0;
        background-image: url('/assets/images/help/GreenBackgroundPhone.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        overflow-x: hidden;
        overflow-y: hidden;
        direction: rtl;
        font-family: Assistant;
    }

    #pkarIcon{
        position: absolute;
        width: 12vw;
        height: 12vh;
        top: 1vh;
        right: 24vw;
    }

    #homeIcon{
        position: absolute;
        width: 14vw;
        height: 14vh;
        top: 86vh;
        right: 80vw;
        cursor: pointer;
    }


    #soliderSpeech{
        position: absolute;
        width:52vw;
        height:52vh;
        top: 54vh;
        left: 53vw;
    }

    #navbar{
        position: absolute;
        width: 57vw;
        height: 7.5vh;
        border-radius: 40px;
        background-color: #dbdbdb;
        top: 3.3vh;
        right: 21.5vw;
    }
    .icons{
        position: absolute;
        display: flex;
        justify-content: space-around;
        width: 35vw;
        top: 4vh;
        right: 38vw;
        background-color: #ffb33c;
        height: 6vh;
        border-radius: 40px;
        padding-left: 2vw;
        padding-right:2vw;
    }

    .icon{
        width:9vw;
    }

    .icon:hover{
        opacity: 80%;
        cursor: pointer;
    }

    
    #categories{
        display: flex;
        flex-wrap: wrap;
        width: 90vw; 
        right: 5vw;
        top: 26vh;
        align-items: center;
    }

    .category{
        width: 35vw;
        height: 13vh;
        margin-bottom:0vh;
        padding: 0;
        margin: 1vh;
    }

    .category:hover{
        left: 5px;
        filter: drop-shadow(0px 0px  #8c8c8c);
    }

    .solider{
            position: absolute;
            width:45vw;
            height:52vh;
            top: 54vh;
            left: 58vw;
        }

    .categoryTitle{
         width: 95vw;
        position: absolute;
        font-weight: 900;
        color: #052554;
        font-size: 3.5vmax;
        text-align: center;
        top: 11vh;
    }

    .biggerTitle{
        font-size: 3.8vmax;
        top: 12vh;
    }

    .backbutton{
        position: absolute;
        width: 16vw;
        height: 4vh;
        border-radius: 40px;
        text-align: center;
        padding: 1vh;
        font-size: 3vmax;
        top: 90vh;
        right: 5vw;
    }


    #circle-container1{
    display: flex;
    visibility: visible;
    flex-flow: row wrap;
    justify-content:center;
    width: 80vw;
    height: 20vh;
    position: absolute;
    top: 42vh;
    right: 10vw;
    }

    .circle{
        position: relative;
        width: 16vh;
        height:16vh;
        filter: drop-shadow(6px 6px #112c59);
        transition: all .5s;
        left: 0;
        cursor: pointer;
        margin: 2vw;
    }

    .circle:hover{
        left: 6px;
        filter: drop-shadow(0px 0px  #112c59);
    }

    .white-div {
        width: 80vw;
        height:35vh;
        background-color: rgb(255, 255, 255);
        border-radius: 2vh;
        position: absolute;
        top:53vh;
        left: 10vw;
    }

    .white-div-num {
        background-color: #052554;
        width:7vw;
        height:7vw;
        border-radius: 100%;
        text-align: center;
        right: 3vw;
        font-size: 2.4vmax;
    }


    .move-pages-white-div {
        width: 90%;
        position: absolute;
        right: 5%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        top: 27.5vh;
    }

  
    #white-div-text1-safe{
        position: relative;
        font-size: 4vmin;
        font-weight: 400;
        width: 60vw;
        text-align: center;
        right:11vw;
        top: -5vh;
        color: #052554;
    }

    #white-div-text1-neighbors{
        position: relative;
        font-size: 4vmin;
        font-weight: 400;
        width: 60vw;
        text-align: center;
        right:11vw;
        top: -5vh;
        color: #052554;
    }

    #white-div-text1-agriculture{
        position: relative;
        font-size: 4vmin;
        font-weight: 400;
        width: 60vw;
        text-align: center;
        right:11vw;
        top: -5vh;
        color: #052554;
    }

    .titleIcon{
        position: relative;
        width: 9.5vw;
        height:9.5vh;
        top: 3.5vh;
        right: -1vw;
    }

.white-div1 {
    width: 75vw;
    height: 53vh;
    background-color: rgb(255, 255, 255);
    border-radius: 2vh;
    position: absolute;
    top: 22vh;
    left: 12.5vw;
}

#text1-bold{
    position: absolute;
    font-size: 2vmax;
    width: 65vw;
    color: #052554;
    right: 4vw;
    top: 37vh;
    font-weight: 700;
}

#text1{
    position: absolute;
    font-size: 2vmax;
    width: 65vw;
    color: #052554;
    right:4vw;
}

#text2{
    right:4vw;
    font-size: 2.3vmax;
}


.arrow-move {
    height: 4.5vh;
    cursor: pointer;
}


#explenation-text-neighbors1{
    font-size: 2.4vmax;
    top: 23vh;
}

#explenation-text-neighbors2{
    font-size: 1.8vmax;
    top: 53vh;
    text-align: right;
} 
#explenation-text-bold-neighbors{
    text-align: right;
    font-size: 1.8vmax;
    top: 35vh;
}

 .explenation-text{
   position: absolute;
    font-size: 2.4vmax;
    width:85vw;
    color: #052554;
    text-align: center;
    right: 7.5vw;
    top: 20vh;
    }   

    .chap1-info {
        width: 90vw;
        right: 5vw;
        height: 55vh;
        top: 28vh;
    }

    .call-title {
        height: 2.5vh;
        padding-right: 2vw;
        padding-bottom:3vw ;
    }

    .first-call {
    border-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    margin:2vw;
    } 

    .name-info {
        position: relative;
        bottom: 3vh;
        padding-right: 2vw;
        padding-bottom: 6vw;
        font-size: 2.5vmax;
        font-family: Assistant;
        font-weight: 700;
        
    }

    .info-text1 {
        margin-top: 1vh;
        font-size: 2.5vmax;
        width: 90%;
        margin-right: 1vw;
        font-weight: 450;
    }
        
    .down-arrow {
        position: absolute;
        width: 3.5vw;
        margin-top: -1.8vh;
        left: 7vw;
        transition: all .4s;
    }

    .explenation-volunteer{
    position: absolute;
    width: 75vw;
    height: 80vh;
    top:7vh;
    right: 12.5vw;
    background-color: #ffffff;
    border-radius: 0.5vw;
    box-shadow: 5px 5px rgb(207, 207, 207);
    }

    .explenation-volunteer-text{
        position: absolute;
        width: 65vw;
        right: 5vw;
        font-size: 1.7vmax;
        color: #052554;
        font-weight: 500;
        top: 6vh;
    }


    .explenation-volunteer-title{
        position: absolute;
        width: 75vw;
        text-align: center;
        font-size: 3vmax;
        color: #052554;
        font-weight: 700;
        top: 2.3vh;
    }

    #link-volunteer{
        position: absolute;
        font-size: 1.4vmax;
        color: #052554;
        font-weight: 500;
        top: 68vh;
        right: 2.5vw;
        font-weight: 700;
        text-decoration: underline;
    }

    .close-button{
        font-weight: 700;
        color: white;
        background-color: #052554;
        cursor: pointer;
        transition: all .5s;
        left: 0;
        width: 13vw;
        border-radius: 6vw;
        z-index:2000;
        text-align: center;
        font-size: 2.2vmax;
        height: 3vh;
        position: absolute;
        right: 30VW;
        top: 72vh;
    }

    #close-button2{
        right: 30VW;
    }

    .bigger-text{
        font-size: 2.2vmax;
        font-weight:400;
    }

    .circle-explenation-text{
        position: absolute;
        font-size: 2.6vmax;
        width: 70vw;
        color: #052554;
        text-align: center;
        right: 15vw;
        top: 25vh;
    }

    .circleTitle{
        width: 100vw;
        position: absolute;
        font-weight: 900;
        color: #052554;
        font-size: 4.3vmax;
        text-align: center;
        top: 8vh;
    }

    
    #circle-container2{
        display: flex;
        flex-flow: row wrap;
        justify-content:center;
        width: 90vw;
        height: 40vh;
        position: absolute;
        top: 42vh;
        right: 5vw;
    }







}
